@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
       url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Avenir Next LT Pro Italic';
  src: url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
       url('../fonts/AvenirNextLTPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-6xl font-bold leading-tight;
}

h2 {
  @apply text-5xl font-bold leading-tight;
}

h3 {
  @apply text-4xl font-bold leading-tight;
}

h4 {
  @apply text-3xl font-bold leading-tight;
}

h5 {
  @apply text-2xl font-bold leading-tight;
}

h6 {
  @apply text-xl font-bold leading-tight;
}

blockquote {
  @apply text-xl leading-tight;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
